* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



#bg, canvas {
  position: fixed;
  top: 0;
  left: 0;
  color: #bce0ff;
}

.content {
  position: absolute;
  color: aliceblue;
  font-size: larger;
  color: #ffffff;
}